.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}





.MainBody{
  margin-right:270px ;
  margin-top: 30px;
}
.TotalBody{
  display: flex;
  justify-content: center;

}
.SliderSection{
  margin-top:40px;
}